<div class="header" style="margin-top:0">
        <img id="btn" src="img/task2.png" alt="LOGO"><span style="letter-spacing: 4px; font-weight: 700; padding: 9px;">MAGERPINK</span>
        <button style="float: right; padding:5px; margin:15px;width:100px" onclick=logout() ontouchstart="" >Log Out</button>
        <button style="float: right; padding:5px; margin:15px;width:100px" onclick=home() ontouchstart="" >...</button>
</div>